###  1 diena

## Python'as is a programming language that lets you work quickly and integrate systems more effectively (https://www.python.org/)
Python is an interpreted high-level programming language for general-purpose programming, has a design philosophy that emphasizes code readability, notably using significant whitespace. It provides constructs that enable clear programming on both small and large scales (https://en.wikipedia.org/wiki/Python_(programming_language))

## Pvz: https://www.python.org/about/success/
<hr>

#### Instaliavimo, naudojimo būdai bei jupyter notebook instaliavimas
   ### Rekomenduojas būdas šiam kursui:
1. instaliuojant miniconda  https://conda.io/miniconda.html
        dėl visa ko update: conda update conda
        
        Galima iškart instaliuoti įvarius: libraries, packages
        bet geriau naudoti virtual environments (toliau vir env):
        
        geriausia (dėl dependencies):
        conda create -n pavadinimas python=3 jupyter kiti
        
        activate vir env naudojimui:
        activate pavadinimas
        
        deactivate vir env:
        deactivate 
        
        nerekomenduoju, bet galima:
        conda create -n pavadinimas anaconda python=3

    arba
        conda create -n pavadinimas python
        conda install -n pavadinimas scipy
        activate pavadinimas
        deactivate
        conda remove -n pavadinimas --all

    arba
        conda create -n pavadinimas python
        conda install -n pavadinimas scipy=0.15.0
        activate pavadinimas
        deactivate
        conda remove -n pavadinimas --all
        
#### Mažiau rekomenduojas būdas šiam kursui:
2. #### Instaliuoti anaconda (užima daug vietos) https://www.anaconda.com/download/#download
    Visos komandos tinka kaip ir miniconda'ai
    
### Nerekomenduoji būdai šiam kursui:
3. #### Tik python ir tada naudoti venv
        python(3) -m venv /path/to/new/virtual/environment/pavadinimas
        source /path/to/new/virtual/environment/pavadinimas/bin/activate
        pip(3) intstall pavadinimas
        paleidimas:
        python -m scirtppav.py
        deactivate

4. #### Tik python https://www.python.org/downloads/windows/ ir be venv
        pip(3) intstall pavadinimas
        paleidimas:
        python -m scirtppav.py
<hr>

## Python objects, basic types, and variables

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`
<hr>

In [1]:
# Python'o pagrindiniai tipai, kuriuos visada galima pasitikrinti panaudojus vieną iš daugelio built-in funkcijų/metodų
# Pavyzdžiai žemiau
type(3)
type(-3)
type(3.5)
type(-3.5)
type("Hello")
type('Hello')
type('''Hello''')
type("""Hello""")
type(True)
type(False)
type(None)

NoneType

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can only contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names must start with a letter or underscore.

In [2]:
# reikšmių (value) prisikirimas kintamąjam labai paprastas - tiesiog kintamojo pavadinimas ir reikšmės priskyrimas su "="
# ženklu. Kaip reikšmė (value) gali būti bet koks python'o objektas.
a = 3
type(a)
# naudojant python'ą command line, tiesiog type(a) nieko neparodis, būtina naudoti print() funkciją
# jupyter notebook žino, kad nurodant tik funkciją su kitamuoju ar raw tekstu, skaičiumi ar kitu tipu
# reikia automatiškai atspauzdinti

int

In [3]:
# kintamųjų pavadinimo pagrindinės taisyklės: iš mažios raidės,
# kelis žodžius atskirti su "_" ir galimi skaičiai gale
list_of_names = 3
a1 = 5
a2 = 6
type(a)

int

In [4]:
a = -3
type(a)

int

In [5]:
a = 3.5
type(a)

float

In [6]:
a = -3.5
type(a)

float

In [7]:
a = "Hello"
type(a)

str

In [8]:
a = 'Hello'
type(a)

str

In [9]:
a = '''Hello'''
type(a)

str

In [10]:
a = """Hello"""
type(a)

str

In [11]:
a = True
type(a)

bool

In [12]:
a = False
type(a)

bool

#### Pažaisti su type'ais ir kintamaisiais

In [13]:
# paprasta print'inimo funkcija/metodas, kuris leidžia output'inti ivairią string informaciją (ir skaičius)
a = 5
print(a)

5

In [14]:
b = "tekstas"
print(b)

tekstas

In [15]:
c = 5.5
print(c)

5.5

In [16]:
# input() reikalingas norint priimti duomenis iš vartotojo (user)
# informacija pateikiama teksto forma, todėl norint alikti matemetinius skaičius, reikia kovertavimą, pasidnaudojus
# built-in funkcijoms, kurios bus aptartos vėliau
b = input("čia galima įrašyti bet ką kaip klausimą/prašymą?")
print(b)

čia galima įrašyti bet ką kaip klausimą/prašymą?Labas
Labas

## Formatting strings and using placeholders
https://www.w3schools.com/python/ref_func_print.asp

https://docs.python.org/3/tutorial/inputoutput.html

####  Naujausias nuo 3.6 (naudojant f"")

In [17]:
# naujausias metodas, kaip galima print'inti informaciją, turint template ir naudojant placeholders, kurių vietoje galima
# įdėti kitamuosius
vardas = "Jonas"
pavardė = "Jonaitis"
print(f"Sveiki {vardas}, jūsų pavardė {pavardė}, geros dienos")

Sveiki Jonas, jūsų pavardė Jonaitis, geros dienos

#### nuo 2.6 iki 3.6 (naudojant "".format())

In [18]:
print("Sveiki {}, jūsų pavardė {}, geros dienos".format(vardas, pavardė))

Sveiki Jonas, jūsų pavardė Jonaitis, geros dienos

In [19]:
# galima ir nurodyti index, pagal seką nurodytą format() skliaustuose
print("Sveiki {0}, jūsų pavardė {1}, geros dienos".format(vardas, pavardė))

Sveiki Jonas, jūsų pavardė Jonaitis, geros dienos

In [20]:
# galima ir sukeisti index numerius
print("Sveiki {1}, jūsų pavardė {0}, geros dienos".format(vardas, pavardė))

Sveiki Jonaitis, jūsų pavardė Jonas, geros dienos

####  iki 2.6 (nerekomenduojama naudoti, naudojant %s, %d ir pan.)

### Užduotis 1:
Priimti vardą, pavardę ir print'inti

In [21]:
vardas = input("Koks jūsų vardas? ")
pavardė = input("Koks jūsų pavardė? ")
print(f"Sveiki {vardas} {pavardė}")

Koks jūsų vardas? Jonas
Koks jūsų pavardė? Jonaitis
Sveiki Jonas Jonaitis

### Užduotis 2: 
Panaudodami 1 ir 2 būdus, priimti email'ą (pvz. vardaspavardė@com.com), bet būtinai slaptažodį ir print'inti vardą ir pavardę (kaip prisijungus prie account'o).

Hint'as:
if kažkas == kažkam and kažkas == kažkam:
    
    print(kažką)

In [22]:
slaptazodis = "password"
emailas = "emailas@com.com"
vardas = "Janina"
pavardė = "Janinienė"
el_input = input("Prašome suvesti el.paštą ")
slapt_input = input("Prašome suvesti slaptažodį ")
if el_input == emailas and slapt_input == slaptazodis:
    print(f"Sveikti prisijungę {vardas} {pavardė}")

Prašome suvesti el.paštą emailas@com.com
Prašome suvesti slaptažodį password
Sveikti prisijungę Janina Janinienė

## Basic operators

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

When multiple operators are used in a single expression, **operator precedence** determines which parts of the expression are evaluated in which order. Operators with higher precedence are evaluated first (like PEMDAS in math). Operators with the same precedence are evaluated from left to right.

- `()` parentheses, for grouping
- `**` exponent
- `*`, `/` multiplication and division
- `+`, `-` addition and subtraction
- `==`, `!=`, `<`, `<=`, `>`, `>=` comparisons

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [23]:
# visi matematinai veiksmai yra visiškai tokie patys kaip ir matematikoje
# Assigning some numbers to different variables
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [24]:
# Addition
suma = num1 + num2
suma

7

In [25]:
# Subtraction
minus = num3 + num4
minus

6.8100000000000005

In [26]:
# Multiplication
daugyba = num5 + num6
daugyba

10

In [27]:
# Division
dalyba = num5 / num4
dalyba

-11.666666666666668

In [28]:
# Exponent
pakel = num5 ** num6
pakel

343

In [29]:
# Increment existing variable
# norint padidinti kintamojo vertę ar pakeisti string'ą, galima taip:
num = 5
num = num + 5
print(num)

10

In [30]:
# bet geriau taip:
numa = 9
numa += 3
numa

12

In [31]:
# galima lygiai taip pat minisuoti
# Decrement existing variable
numm = 9
numm -= 3
numm

6

In [32]:
# daugyba
# Multiply & re-assign
numd = 9
numd *= 3
numd

27

In [33]:
# Assign the value of an expression to a variable
num8 = num1 + num2 * num3
num8

-12.23

In [34]:
# norint nustatyti reikšių lybybę, naudojama "==" ir gražinamos bool(ean) tipo reikšmės True ir False
# Are these two expressions equal to each other?
lyg1 = 5
lyg2 = 5
lyg1 == lyg2

True

In [35]:
lyg3 = 2
lyg4 = 3
lyg1 == lyg3 + lyg4

True

In [36]:
lyg3 == lyg4

False

In [37]:
# "!=" leidždia daryti reverse palyginimą, kuris kartais reikalingas
# Are these two expressions not equal to each other?
lyg3 != lyg4

True

In [38]:
# Is the first expression less than the second expression?
lyg3 > lyg4

False

In [39]:
lyg1 = 5
lyg2 = 4
lyg1 > lyg2

True

In [40]:
# Daromas palyginimas ir gale pateikima bool True arba False
# Is this expression True?
5 > 3 > 1

True

In [41]:
# False, nes palygnimo atveju visos sąlygos turi būti True tipo: 5 > 3 -> True + 3 < 1 -> False -> False
5 > 3 < 1

False

In [42]:
# True, nes "5 > 3 < 4" yra True, tada paiima paskutinė reikšmė 4 ir pritaikomas == 3 + 1 ir gaunam True
# Is this expression True?
5 > 3 < 4 == 3 + 1

True

In [43]:
# string'o objektai gali panaudoti su matematiniai ženklais
# + tiesiog sujungia (concatenate)
# * tiesiog sujungia (concatenate)
# taip pat galima panaudooti "==" palytginimui
# "in" norint surasti string'ą kitame string'ę
# Assign some strings to different variables
simple_string1 = 'an example'
simple_string2 = "oranges "

In [44]:
# Addition
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [45]:
# Notice that the string was not modified
simple_string1

'an example'

In [46]:
# Multiplication
simple_string1 * 3

'an examplean examplean example'

In [47]:
# This string wasn't modified either
simple_string1

'an example'

In [48]:
# Are these two expressions equal to each other?
simple_string1 == 'an example'

True

In [49]:
# Add and re-assign
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [50]:
# Multiply and re-assign
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

In [51]:
"ran" in simple_string2

True

In [52]:
# Turėtų būti aišku, kad negalima pritaikyti minusavimo, dalybos ir mažinimo

###  2 diena

## Basic containers

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.

Containers are objects that can be used to group other objects together. The basic container types include:

- **`str`** (string: immutable; indexed by integers; items are stored in the order they were added)
    https://realpython.com/python-strings/)
- **`list`** (list: mutable; indexed by integers; items are stored in the order they were added) https://realpython.com/python-lists-tuples/
  - `[3, 5, 6, 3, 'dog', 'cat', False]`
- **`tuple`** (tuple: immutable; indexed by integers; items are stored in the order they were added) https://realpython.com/python-lists-tuples/
   - `(3, 5, 6, 3, 'dog', 'cat', False)`
- **`set`** (set: mutable; not indexed at all; items are NOT stored in the order they were added; can only contain immutable objects; does NOT contain duplicate objects) https://realpython.com/python-sets/
  - `{3, 5, 6, 3, 'dog', 'cat', False}`
- **`dict`** (dictionary: mutable; key-value pairs are indexed by immutable keys; items are NOT (nuo 3.7 ARE STORED) stored in the order they were added) https://realpython.com/python-dicts/
  - `{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}`
    
IPython kernel sorts the dictionary keys for display when the dictionary is evaluated. It assumes that the ordering of items in a dict object is not significant. By contrast, it does not sort the keys in an OrderedDict.

When defining lists, tuples, or sets, use commas (,) to separate the individual items. When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings, lists, and tuples are all **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

In [53]:
# Assign some containers to different variables
string1 = "Assign some "
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [54]:
string1 * 5

'Assign some Assign some Assign some Assign some Assign some '

In [55]:
list1 * 2

[3, 5, 6, 3, 'dog', 'cat', False, 3, 5, 6, 3, 'dog', 'cat', False]

In [56]:
tuple1 * 3

(3,
 5,
 6,
 3,
 'dog',
 'cat',
 False,
 3,
 5,
 6,
 3,
 'dog',
 'cat',
 False,
 3,
 5,
 6,
 3,
 'dog',
 'cat',
 False)

## Some methods on list objects

- **`.append(item)`** to add a single item to the list
- **`.extend([item1, item2, ...])`** to add multiple items to the list
- **`.remove(item)`** to remove a single item from the list
- **`.pop()`** to remove and return the item at the end of the list
- **`.pop(index)`** to remove and return an item at an index

In [57]:
# Items in the list object are stored in the order they were added
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
list1.append("nauja reikšmė")
list1

[3, 5, 6, 3, 'dog', 'cat', False, 'nauja reikšmė']

In [58]:
# Add and re-assign
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 'nauja reikšmė', 5, 'grapes']

In [59]:
# Multiply (gali būti tik skaičiai) and re-assign
list1 = [1, 2, 3, 4]
list1 *= 3
list1

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [60]:
list1.append("item")
list1

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 'item']

In [61]:
list1.extend(["item1", "item2"])
list1

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 'item', 'item1', 'item2']

In [62]:
list1.remove("item")
list1

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 'item1', 'item2']

In [63]:
list1.pop()
list1

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 'item1']

In [64]:
# kadangi pop() ištrina paskutinę value iš list'o ir tada reikšmę grąžina, todėl su print galima ją pamatyti
print(list1.pop())

item1

In [65]:
print(list1.pop(2))

3

In [66]:
list1

[1, 2, 4, 1, 2, 3, 4, 1, 2, 3, 4]

## Some methods on set objects

- **`.add(item)`** to add a single item to the set
- **`.update([item1, item2, ...])`** to add multiple items to the set
- **`.update(set2, set3, ...)`** to add items from all provided sets to the set
- **`.remove(item)`** to remove a single item from the set
- **`.pop()`** to remove and return a random item from the set
- **`.difference(set2)`** to return items in the set that are not in another set
- **`.intersection(set2)`** to return items in both sets
- **`.union(set2)`** to return items that are in either set
- **`.symmetric_difference(set2)`** to return items that are only in one set (not both)
- **`.issuperset(set2)`** does the set contain everything in the other set?
- **`.issubset(set2)`** is the set contained in the other set?

In [67]:
# Items in the set object are not stored in the order they were added
set1 = {12,3,4,5,6,7}
set1

{3, 4, 5, 6, 7, 12}

In [68]:
set1.add(8)
set1

{3, 4, 5, 6, 7, 8, 12}

In [69]:
set1.update([15, "namas"])
set1

{12, 15, 3, 4, 5, 6, 7, 8, 'namas'}

In [70]:
set2 = {1.2, 5.6}
set3 = {"a", "b"}
set1.update(set2, set3)
set1

{1.2, 12, 15, 3, 4, 5, 5.6, 6, 7, 8, 'a', 'b', 'namas'}

In [71]:
set1.remove(5)
set1

{1.2, 12, 15, 3, 4, 5.6, 6, 7, 8, 'a', 'b', 'namas'}

In [72]:
# skirtingai nuo list'o pop(), set atveju yra pašalinama random reikšmė
set1.pop()
set1

{12, 15, 3, 4, 5.6, 6, 7, 8, 'a', 'b', 'namas'}

In [73]:
print(set1.pop())

a

In [74]:
# to return items in the set that are not in another set
set1 = {0, 1, 2, 3, 4, 5, 6}
set2 = {2, 3, 4, 5, 6, 7, 8, 9}
set3 = set1.difference(set2)
set3

{0, 1}

In [75]:
# to return items in both sets
set3 = set1.intersection(set2)
set3

{2, 3, 4, 5, 6}

In [76]:
# to return items that are in either set
set3 = set1.union(set2) 
set3

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [77]:
# to return items that are only in one set (not both)
set1 = {0, 1, 2, 3, 4, 5, 6}
set2 = {2, 3, 4, 5, 6, 7, 8, 9}
set3 = set1.symmetric_difference(set2)
set3

{0, 1, 7, 8, 9}

In [78]:
# does the set contain everything in the other set? True arba False
set3 = set1.issuperset(set2) 
set3

False

In [79]:
set1 = {3, 4, 5, 6}
set2 = {2, 3, 4, 5, 6, 7, 8, 9}
set3 = set2.issuperset(set1) 
set3

True

In [80]:
# is the set contained in the other set?
set3 = set1.issubset(set2)
set3

True

In [81]:
set1 = {1, 3, 4, 5, 6}
set2 = {2, 3, 4, 5, 6, 7, 8, 9}
set3 = set1.issuperset(set2) 
set3

False

## Some methods on dict objects

- **`.update([(key1, val1), (key2, val2), ...])`** to add multiple key-value pairs to the dict
- **`.update(dict2)`** to add all keys and values from another dict to the dict
- **`.pop(key)`** to remove key and return its value from the dict (error if key not found)
- **`.pop(key, default_val)`** to remove key and return its value from the dict (or return default_val if key not found)
- **`.get(key)`** to return the value at a specified key in the dict (or None if key not found)
- **`.get(key, default_val)`** to return the value at a specified key in the dict (or default_val if key not found)
- **`.keys()`** to return a list of keys in the dict
- **`.values()`** to return a list of values in the dict
- **`.items()`** to return a list of key-value pairs (tuples) in the dict

In [82]:
# Items in the dict object are stored (3.7) in the order they were added
dict1 = {"key1": "value", "key2": 5, "key3":[20, 25, 30]}

In [83]:
# value pasiekiamos taip
dict1["key1"]

'value'

In [84]:
# return a list of keys in the dict
dict1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [85]:
# return a list of values in the dict
dict1.values()

dict_values(['value', 5, [20, 25, 30]])

In [86]:
# return a list of key-value pairs (tuples) in the dict
dict1.items()

dict_items([('key1', 'value'), ('key2', 5), ('key3', [20, 25, 30])])

In [87]:
# kaip pasiekti list'o reikšmes iš key3? Paprastai: pasirenkam key ir tada kaip ir pasirenkant reikšmę iš list'o
dict1["key3"][1]

25

In [88]:
# add multiple key-value pairs to the dict  
dict1.update([("key5", "val1"), ("key6", 150)])
dict1

{'key1': 'value', 'key2': 5, 'key3': [20, 25, 30], 'key5': 'val1', 'key6': 150}

In [89]:
# add all keys and values from another dict to the dict
dict2 = {"key10": "value", "key7": 115, "key8":5}
dict1.update(dict2)
dict1

{'key1': 'value',
 'key2': 5,
 'key3': [20, 25, 30],
 'key5': 'val1',
 'key6': 150,
 'key10': 'value',
 'key7': 115,
 'key8': 5}

In [90]:
# remove key and return its value from the dict (error if key not found)
dict1.pop("key1")
dict1

{'key2': 5,
 'key3': [20, 25, 30],
 'key5': 'val1',
 'key6': 150,
 'key10': 'value',
 'key7': 115,
 'key8': 5}

In [91]:
print(dict1.pop("key2"))

5

In [92]:
# .pop(key, default_val) to remove key and return its value from the dict (or return default_val if key not found)

In [93]:
# jei nerandama key, išmetama klaida
dict1["key11"]

KeyError: 'key11'

In [94]:
# return the value at a specified key in the dict (or None if key not found)  
#  bet galima naudoti .get(key)
dict1.get("key11")

In [95]:
# jei print, grąžinama None reikšmė
print(dict1.get("key11"))

None

In [96]:
# .get(key, default_val) to return the value at a specified key in the dict (or default_val if key not found)

## Some methods on tuple objects

- **`.count(value)`** returns the number of times a specified value appears in the tuple.
- **`.index(value)`** finds the first occurrence of the specified value and returns index

In [97]:
# Add and re-assign
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

### Kiti container'iai https://docs.python.org/3/library/collections.html

## Accessing data in containers

For strings, lists, tuples, and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- strings, lists, and tuples are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence
- dicts are indexed by their keys

> Note: sets are not indexed, so we cannot use subscript notation to access data elements.

In [98]:
# Access the first item in a sequence
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
list1[0]

3

In [99]:
# Access the last item in a sequence
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
tuple1[-1]

False

In [100]:
# Access a range of items in a sequence
simple_string1 = "Access a range of items in a sequence"
simple_string1[3:8]

'ess a'

In [101]:
# Access a range of items in a sequence
tuple1[:-3]

(3, 5, 6, 3)

In [102]:
# Access a range of items in a sequence
list1[4:]

['dog', 'cat', False]

## Python built-in functions and callables

A **function** is a Python object that you can "call" to **perform an action** or compute and **return another object**. You call a function by placing parentheses to the right of the function name. Some functions allow you to pass **arguments** inside the parentheses (separating multiple arguments with a comma). Internal to the function, these arguments are treated like variables.

Python has several useful built-in functions to help you work with different objects and/or your environment. Here is a small sample of them:

- **`type(obj)`** to determine the type of an object
- **`len(container)`** to determine how many items are in a container
- **`callable(obj)`** to determine if an object is callable
- **`sorted(container)`** to return a new list from a container, with the items sorted
- **`sum(container)`** to compute the sum of a container of numbers
- **`min(container)`** to determine the smallest item in a container
- **`max(container)`** to determine the largest item in a container
- **`abs(number)`** to determine the absolute value of a number
- **`repr(obj)`** to return a string representation of an object

> Complete list of built-in functions: https://docs.python.org/3/library/functions.html

There are also different ways of defining your own functions and callable objects that we will explore later.

In [103]:
# jei prireikia, galima konvertuot skaičių į string'ą
a = 5
print(a)
b = str(a)
b

5

'5'

In [104]:
type(b)

str

In [105]:
a = "5"
b = int(a)
print(b)

5

In [106]:
type(b)

int

In [107]:
a + 5

TypeError: must be str, not int

In [108]:
b + 5

10

In [109]:
# tas pats kaip interger
float()

0.0

In [110]:
# pagrindiniai container'iai turi ir funkcija, daugiausia naudojama sukuriant tuščius ir eigoje pridedant reikšmes
# arba paverčiant iš vieno container'io tipo į kitą prireikus
a = list()
a.append("a")
a

['a']

In [111]:
l = ["a", 8, 5]
a = tuple(l)
a

('a', 8, 5)

In [112]:
a = dict()
a["a"] = 5
a

{'a': 5}

In [113]:
a = [5,6,7,7,7, "a", "a", "b"]
b = set(a)
b

{5, 6, 7, 'a', 'b'}

In [114]:
# Use the len() function to determine how many items are in a container
len(dict1)

6

In [115]:
# Use the len() function to determine how many items are in a container
len(simple_string2)

24

In [116]:
# Use the callable() function to determine if an object is callable
callable("a")

False

In [117]:
# Use the callable() function to determine if an object is callable
callable(dict1)

False

In [118]:
callable(str)

True

In [119]:
# Use the sorted() function to return a new list from a container, with the items sorted
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [120]:
# Use the sorted() function to return a new list from a container, with the items sorted
# - notice that capitalized strings come first
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [121]:
# Use the sum() function to compute the sum of a container of numbers
sum([10, 1, 3.6, 7, 5, 2, -3])

25.6

In [122]:
# Use the min() function to determine the smallest item in a container
min([10, 1, 3.6, 7, 5, 2, -3])

-3

In [123]:
# Use the min() function to determine the smallest item in a container
min(['g', 'z', 'a', 'y'])

'a'

In [124]:
# Use the max() function to determine the largest item in a container
max([10, 1, 3.6, 7, 5, 2, -3])

10

In [125]:
# Use the max() function to determine the largest item in a container
max('gibberish')

's'

In [126]:
# Use the abs() function to determine the absolute value of a number
abs(10)

10

In [127]:
# Use the abs() function to determine the absolute value of a number
abs(-12)

12

In [128]:
# Use the repr() function to return a string representation of an object
repr(set1)

'{1, 3, 4, 5, 6}'

## Python object attributes (methods and properties)

Different types of objects in Python have different **attributes** that can be referred to by name (similar to a variable). To access an attribute of an object, use a dot (`.`) after the object, then specify the attribute (i.e. `obj.attribute`)

When an attribute of an object is a callable, that attribute is called a **method**. It is the same as a function, only this function is bound to a particular object.

When an attribute of an object is not a callable, that attribute is called a **property**. It is just a piece of data about the object, that is itself another object.

The built-in `dir()` function can be used to return a list of an object's attributes.

<hr>

## Some methods on string objects

- **`.capitalize()`** to return a capitalized version of the string (only first char uppercase)
- **`.upper()`** to return an uppercase version of the string (all chars uppercase)
- **`.lower()`** to return an lowercase version of the string (all chars lowercase)
- **`.count(substring)`** to return the number of occurences of the substring in the string
- **`.startswith(substring)`** to determine if the string starts with the substring
- **`.endswith(substring)`** to determine if the string ends with the substring
- **`.replace(old, new)`** to return a copy of the string with occurences of the "old" replaced by "new"

In [129]:
# Assign a string to a variable
a_string = 'tHis is a sTriNg'

In [130]:
# Return a capitalized version of the string
a_string.capitalize()

'This is a string'

In [131]:
# Return an uppercase version of the string
a_string.upper()

'THIS IS A STRING'

In [132]:
# Return a lowercase version of the string
a_string.lower()

'this is a string'

In [133]:
# Notice that the methods called have not actually modified the string
a_string

'tHis is a sTriNg'

In [134]:
# Count number of occurences of a substring in the string
a_string.count('i')

3

In [135]:
# Count number of occurences of a substring in the string after a certain position
a_string.count('i', 7)

1

In [136]:
# Count number of occurences of a substring in the string
a_string.count('is')

2

In [137]:
# Does the string start with 'this'?
a_string.startswith('this')

False

In [138]:
# Does the lowercase string start with 'this'?
a_string.lower().startswith('this')

True

In [139]:
# Does the string end with 'Ng'?
a_string.endswith('Ng')

True

In [140]:
# Return a version of the string with a substring replaced with something else
a_string.replace('is', 'XYZ')

'tHXYZ XYZ a sTriNg'

In [141]:
# Return a version of the string with a substring replaced with something else
a_string.replace('i', '!')

'tH!s !s a sTr!Ng'

In [142]:
# Return a version of the string with the first 2 occurences a substring replaced with something else
a_string.replace('i', '!', 2)

'tH!s !s a sTriNg'

### 3 diena

## Functions, Positional arguments and keyword arguments, * args, ** kwargs, lambda

You can call a function/method in a number of different ways:

- `func()`: Call `func` with no arguments
- `func(arg)`: Call `func` with one positional argument
- `func(arg1, arg2)`: Call `func` with two positional arguments
- `func(arg1, arg2, ..., argn)`: Call `func` with many positional arguments
- `func(kwarg=value)`: Call `func` with one keyword argument 
- `func(kwarg1=value1, kwarg2=value2)`: Call `func` with two keyword arguments
- `func(kwarg1=value1, kwarg2=value2, ..., kwargn=valuen)`: Call `func` with many keyword arguments
- `func(arg1, arg2, kwarg1=value1, kwarg2=value2)`: Call `func` with positonal arguments and keyword arguments
- `obj.method()`: Same for `func`.. and every other `func` example

When using **positional arguments**, you must provide them in the order that the function defined them (the function's **signature**).

When using **keyword arguments**, you can provide the arguments you want, in any order you want, as long as you specify each argument's name.

When using positional and keyword arguments, positional arguments must come first.

In [143]:
# python'e funkcijos aprašomos taip:
# 1) pirma eina def, kaip žymeklis, kad norime sukurti funkciją, o ne sakykim, klasę ir norim, kad ji turėtų pavadinimą
# 2) tada pavadinimas, lygiai taip pat, kaip kad reikia pavadinimo kintamiesiems
# 3) skliaustai "()", kuriuose gali ir nebūti argumentų, bet dažniausiai reikia ir jų gali būti "beliek",
# su kuriais kažką padarome kode ir pavadinimai gali būti bet kokie, bet aišku, kad geriausia jog būtų meaningful
# 4) dvitaškis ":"
# 5) tada BŪTINAS intend: 4 space arba tab
# 6) ir po to eina kodas
# 7) ir jei reikia, kad kažkokia reikšmė būtų grąžinta, pačiam kodo gale "return"
# 8) ir tada reikia initializuoti funkciją, suvedus jos pavadinimą ir atitinkamus argumentus, jei jie reikalingi.
vardas = "Jonas"
def pav():
    print(vardas)
    
pav()

Jonas

In [144]:
vardas = "Jonas"
def pav():
    return vardas
    
print(pav())

Jonas

In [145]:
# su argumentu
vardas = "Jonas"
def pav(vard):
    print(vard)
    
pav(vardas)

Jonas

In [146]:
# su argumentu
vardas = "Jonas"
pavarde = "Jonassas"

def pav(v, p):
    print(f"{v} {p}")
    
pav(vardas, pavarde)

Jonas Jonassas

In [147]:
# taip pat galima naudoti keyword argumentus, kurie naudojami nustatyti kažkokią default value ir įvedus kaip keyword
# argumentą per funkcijos inicijavimą, galima ją pakeisti
diena = "trečiadienis"

def pav(d=diena):
    print(f"Sveiki šiandien {d}")
    
pav()

Sveiki šiandien trečiadienis

In [148]:
pav("ketvirtadienis")

Sveiki šiandien ketvirtadienis

In [149]:
#  galima naudoti kartu argumentus ir keyword argumentus
vardas = "Jonas"
pavarde = "Jonassas"
diena = "trečiadienis"

def pav(v, p, d=diena):
    print(f"Sveiki {v} {p}, šiandien {d}")
    
pav(vardas, pavarde)

Sveiki Jonas Jonassas, šiandien trečiadienis

In [150]:
pav(vardas, pavarde, "ketvirtadienis")

Sveiki Jonas Jonassas, šiandien ketvirtadienis

In [151]:
# lambda https://www.w3schools.com/python/python_lambda.asp
# taip pat yra anonymous funkcijos, kurioms nereikia pavadinimo, gali priimti argumentus ir tik vieną expression
# 1) pirma eina "lambda"
# 2) tada agumentas/ai
# 3) tada":"
# 4) expression'as
# dažniausiai naudojama kartu su map() ir filter().
double = lambda x: x * 2
print(double(5))

10

In [152]:
daugyba = lambda x, y: x * 7
print(daugyba(5, 6))

35

In [153]:
#  *args, **kwargs, naudojami, kaip nežinom tikslaus argumetų skaičiau, bet žinom, kad galima padaryti tą patį veiksmą
def test_var_args(f_arg, *argv):
    print("first normal arg:", f_arg)
    for arg in argv:
        print("another arg through *argv :", arg)

test_var_args('yasoob','python','eggs','test')

first normal arg: yasoob
another arg through *argv : python
another arg through *argv : eggs
another arg through *argv : test

#### Užduotis:
Panaudojus funkciją: panaudodami 1 ir 2 būdus (f"{}" ir "{}".format()), priimti email'ą (pvz. vardaspavardė@com.com), bet būtinai slaptažodį ir print'inti vardą ir pavardę (panašiai kaip prisijungus prie account'o)

## Python "for loops"

It is easy to **iterate** over a collection of items using a **for loop**. The strings, lists, tuples, sets, and dictionaries we defined are all **iterable** containers.

The for loop will go through the specified container, one item at a time, and provide a temporary variable for the current item. You can use this temporary variable like a normal variable.

In [154]:
for i in ["a", "b"]: # gali būti tuples, listai, string, net dict
    print(i)

a
b

#### range() https://www.w3schools.com/python/ref_func_range.asp

In [155]:
# jei norim naudoti tam tikrą skaičių iteracijų ar specifiškai skaičius
for i in range(5):
    print(i)

0
1
2
3
4

In [156]:
a = 1
for i in range(5):
    a *= 2
    print(a)

2
4
8
16
32

#### enumarate() https://www.programiz.com/python-programming/methods/built-in/enumerate

In [157]:
# jei norim žinoti ir index'ą
for i, v in enumerate(["Jonas", "Petras"]):
    print(i, v)

0 Jonas
1 Petras

In [158]:
# norint dictinary'io priskirti reikšmes, reikia naudoti zip(), kadangi norit sudaryti dictionary reikia vienu metu turėti
# tiek key, tiek value, ko negalima padaryti paprastu for loop.
dict1 = dict()
keys = ['a', 'b', 'c']
values = [1, 2, 3]
for k in keys:
    for v in values:
        dict1[k] = v
dict1

{'a': 3, 'b': 3, 'c': 3}

In [159]:
for k, v in zip(keys, values):
    dict1[k] = v
dict1

{'a': 1, 'b': 2, 'c': 3}

In [160]:
# bet kaip visada python'as turi palengvinimų
keys = ['a', 'b', 'c']
values = [1, 2, 3]
dictionary = dict(zip(keys, values))
print(dictionary)

{'a': 1, 'b': 2, 'c': 3}

In [161]:
# difference between iterable and iterator https://www.geeksforgeeks.org/python-difference-iterable-iterator/

coordinate = ['x', 'y', 'z']
value = [3, 4, 5, 0, 9]

result = zip(coordinate, value)
resultList = list(result)
print(resultList)

c,v =  zip(*resultList)
print('c =', c)
print('v =', v)

[('x', 3), ('y', 4), ('z', 5)]
c = ('x', 'y', 'z')
v = (3, 4, 5)

In [162]:
# Fibonacci numbers paprastas sprendimas (vienas iš daugelio)
inp = 5

a = [0, 1]

for i in range(2, (inp + 1)):
    b = a[-2] + a[-1]
    a.append(b)

for i in a[1:]:
    print(i)

1
1
2
3
5

In [163]:
# Fibonacci numbers pythonic sprendimas
inp = 5
a, b = 0, 1

for i in range(inp):
    a, b = b, a + b
    print(a)

1
1
2
3
5

#### Užduotis:
Fibonacci užduotį su funkcija

In [164]:
inp = 5

def fibonacci(sk):
    a = 0
    c = 1
    for i in range(sk):
        a, c = c, a + c
        print(a)

fibonacci(inp)

1
1
2
3
5

## Python "if statements" and "while loops"

Conditional expressions can be used with these two **conditional statements**.

The **if statement** allows you to test a condition and perform some actions if the condition evaluates to `True`. You can also provide `elif` and/or `else` clauses to an if statement to take alternative actions if the condition evaluates to `False`.

The **while loop** will keep looping until its conditional expression evaluates to `False`.

> Note: It is possible to "loop forever" when using a while loop with a conditional expression that never evaluates to `False`.
>
> Note: Since the **for loop** will iterate over a container of items until there are no more, there is no need to specify a "stop looping" condition.

In [165]:
vardas = "Jonas"
pavarde = "Jonassas"
slapta = "pas"
emailas = "a@com.com"
inpslapta = input("Slaptažodis? ")
inpelpastas = input("El.paštas? ")
if slapta == inpslapta and emailas == inpelpastas:
    print(f"Sveiki prisijungę {vardas} {pavarde}")

Slaptažodis? pas
El.paštas? a@com.com
Sveiki prisijungę Jonas Jonassas

In [166]:
# vietoj "and" galima naudoti "or", jei norime, kad vienas iš lyginimų būtų True
vardas = "Jonas"
pavarde = "Jonassas"
slapta = "pas"
emailas = "a@com.com"
inpslapta = input("Slaptažodis? ")
inpelpastas = input("El.paštas? ")
if slapta == inpslapta or emailas == inpelpastas:
    print(f"Sveiki prisijungę {vardas} {pavarde}")

Slaptažodis? Pas
El.paštas? a@com.com
Sveiki prisijungę Jonas Jonassas

In [167]:
vardas = "Jonas"
pavarde = "Jonassas"
slapta = "pas"
emailas = "a@com.com"
inpslapta = input("Slaptažodis? ")
inpelpastas = input("El.paštas?")
if slapta == inpslapta and emailas == inpelpastas:
    print(f"Sveiki prisijungę {vardas} {pavarde}")
else:
    print("Neteisingas slaptažodis ar el.paštas")

Slaptažodis? Pas
El.paštas?a@com.com
Neteisingas slaptažodis ar el.paštas

In [168]:
# jei reikia daugiau palyginimų, tada naudojamas "elif"
var = 1
if var < 200:
    print("Expression value is less than 200")
    if var == 150:
        print("Which is 150")
    elif var == 100:
        print("Which is 100")
    elif var == 50:
        print("Which is 50")
    elif var < 50:
        print("Expression value is less than 50")
else:
    print("Could not find true expression")

Expression value is less than 200
Expression value is less than 50

#### Užduotis:
Tą pačią užduotį, tik dar priimti amžių ir pagal amžių print'i, kad jei vartotojas per jaunas, negali prsijungti, kitu atveju, kad viskas gerai. Taip pat panaudoti ankstesnius metodus ir išpręsti įvestas klaidas pvz. jei el.paštą suveda didžiosiom raidėm, automatiškai pataisyti.

In [169]:
vardas = "Jonas"
pavarde = "Jonassas"
slapta = "pas"
emailas = "a@com.com"
inpslapta = input("Slaptažodis? ")
inpelpastas = input("El.paštas? ")
inpriba = int(input("Amžius? "))
amzriba = 18
if slapta == inpslapta.lower() and emailas == inpelpastas.lower() and amzriba < inpriba:
    print(f"Sveiki prisijungę {vardas} {pavarde}")
else:
    print("Neteisingas slaptažodis ar el.paštas arba esate per jaunas")

Slaptažodis? Pas
El.paštas? a@com.com
Amžius? 17
Neteisingas slaptažodis ar el.paštas arba esate per jaunas

In [171]:
vardas = "Jonas"
pavarde = "Jonassas"
slapta = "pas"
emailas = "a@com.com"
inpslapta = input("Slaptažodis? ")
inpelpastas = input("El.paštas? ")
inpriba = int(input("Amžius? "))
amzriba = 18
if slapta == inpslapta.lower() and emailas == inpelpastas.lower() and amzriba < inpriba:
    print(f"Sveiki prisijungę {vardas} {pavarde}")
else:
    print("Neteisingas slaptažodis ar el.paštas arba esate per jaunas")

Slaptažodis? pas
El.paštas? A@com.com
Amžius? 21
Sveiki prisijungę Jonas Jonassas

In [172]:
# jei norim infinate, nuolatos vykstančio loop, naudojam "while"
# vienas iš būdu break while loops'a, kai nurodom tam tikras ribas patys
flag = True
while flag:
    print(flag)
    flag = False

True

In [173]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [174]:
# kitas būdas naudojant break ir galima naudoti if/else
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)
print('Loop ended.')

4
3
Loop ended.

### 4 diena

## PEP8 (https://www.python.org/dev/peps/pep-0008/)

### Daugiau built-in funkcijų/metodų https://www.programiz.com/python-programming/methods/built-in

In [175]:
# map() dažniausiai naudojama kartu su lambda, nes priima funciją, bet paprasta fukcija gali turėtų tik vieną argumentą, 
# ir tada iterable ir yra iterator, todėl norint gauti reikšmes, turim panaudoti list(), set() ar tuples(). Bet 
a = [5, 6, 7, 8, 9]

def pakelimas(c):
    d = c**3
    return d

e = map(pakelimas, a)
tuple(e)

(125, 216, 343, 512, 729)

In [176]:
a = [5, 6, 7, 8, 9]
b = map(lambda x: x * 2, a)
tuple(b)

(10, 12, 14, 16, 18)

In [177]:
# bet su lambda galima ir keliais argumentais
f = [1, 2, 3, 4, 5]
g = map(lambda x, y: x * y, a, f)
tuple(g)

(5, 12, 21, 32, 45)

In [178]:
# filter() method constructs an iterator from elements of an iterable for which a function returns true.
# tas pats kas (element for element in iterable if function(element))
alphabets = ['a', 'b', 'd', 'e', 'i', 'j', 'o']

# function that filters vowels
def filterVowels(alphabet):
    vowels = ['a', 'e', 'i', 'o', 'u']

    if(alphabet in vowels):
        return True
    else:
        return False

filteredVowels = filter(filterVowels, alphabets)

print('The filtered vowels are:')
for vowel in filteredVowels:
    print(vowel)

The filtered vowels are:
a
e
i
o

In [179]:
# del - ištrina, pvz. kintamąjį jei nebereikia
x = "hello"
print(x) 
del x
print(x)

hello

NameError: name 'x' is not defined

In [180]:
# galima ir iš list'o value
x = ["apple", "banana", "cherry"]
print(x)
del x[0]
print(x)

['apple', 'banana', 'cherry']
['banana', 'cherry']

In [181]:
# ir dict
x = {"apple": 1, "banana": 2, "cherry": 3}
print(x)
del x["apple"]
print(x)

{'apple': 1, 'banana': 2, 'cherry': 3}
{'banana': 2, 'cherry': 3}

In [182]:
# divmod() palengvina sveikojo skaičiaus ir liekanos skaičiavimus
print('divmod(8, 3) = ', divmod(8, 3))
print('divmod(3, 8) = ', divmod(3, 8))
print('divmod(5, 5) = ', divmod(5, 5))
# galima ir float, bet tai sudėtingi skaičiavimai, tai mums nelabai aktualu
print('divmod(8.0, 3) = ', divmod(8.0, 3))
print('divmod(3, 8.0) = ', divmod(3, 8.0))
print('divmod(7.5, 2.5) = ', divmod(7.5, 2.5))
print('divmod(2.6, 0.5) = ', divmod(2.6, 0.5))

divmod(8, 3) =  (2, 2)
divmod(3, 8) =  (0, 3)
divmod(5, 5) =  (1, 0)
divmod(8.0, 3) =  (2.0, 2.0)
divmod(3, 8.0) =  (0.0, 3.0)
divmod(7.5, 2.5) =  (3.0, 0.0)
divmod(2.6, 0.5) =  (5.0, 0.10000000000000009)

In [183]:
# iter() next() fukcijos, kurios padeda sukurti iterator ir su tik next() gauti sekančias reikšmes
x = ["apple", "banana", "cherry"]
b = iter(x)
print(next(b))
print(next(b))
print(next(b))

apple
banana
cherry

In [184]:
# open() naudojama dirbant su failais, bet failų atidarymą dar giliau pasigilinsim vėliau

In [185]:
# pow() palengvina pakėlimą laipsniu, pirmas skaičius, kuris keliamas ir antras - laipsnio skaičius
print(pow(2, 3))
print(pow(3, 2))

8
9

In [186]:
# reversed() bet kokį tuple, string, list or range
# for string
seqString = 'Python'
print(list(reversed(seqString)))

# for tuple
seqTuple = ('P', 'y', 't', 'h', 'o', 'n')
print(list(reversed(seqTuple)))

# for range
seqRange = range(5, 9)
print(list(reversed(seqRange)))

# for list
seqList = [1, 2, 4, 3, 5]
print(list(reversed(seqList)))

['n', 'o', 'h', 't', 'y', 'P']
['n', 'o', 'h', 't', 'y', 'P']
[8, 7, 6, 5]
[5, 3, 4, 2, 1]

In [187]:
# slice, kartais gali patogesnis būdas nei index būdu
a = ("abcdefgh")
x = slice(3, 5)
print(a[x])

de

In [188]:
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(0, 8, 3)
print(a[x])

('a', 'd', 'g')

In [189]:
# round() padeda su float skaičių apvalinimu
print(round(5.7587878878))
print(round(5.7587878878, 1))
print(round(5.7587878878, 2))
print(round(5.7587878878, 3))
print(round(5.7587878878, 4))
print(round(5.7587878878, 5))

6
5.8
5.76
5.759
5.7588
5.75879

## List, set, and dict comprehensions https://www.data-blogger.com/2017/11/16/python-list-comprehension/

In [190]:
# comprehensions'ai - dar vienas palenginimas, kuris patogesnius for loops vienoje eilutėje
a = list()
for i in range(10):
    a.append(i)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [191]:
# bet galima ir taip:
# [expression for item in list if conditional], kur conditional yra palyginimai su ==, <(=), >(=).
b = [i for i in range(9)]
b

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [192]:
c = [i for i in range(15) if i < 15]
c

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [193]:
def up(a):
    return a ** 2 


d = [up(i) for i in range(15) if i < 15]
d

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [194]:
# dar pvz.
number_list = [ x for x in range(20) if x % 2 == 0]
print(number_list)
num_list = [y for y in range(100) if y % 2 == 0 if y % 5 == 0]
print(num_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [195]:
# set tas pats, tik naudojami {}

In [196]:
# kadangi dict yra key: value, todėl pradžioje kaip expression turi būti k:v (čia convention)
keys = ['a','b','c','d','e'] 
values = [1,2,3,4,5]   

D = {x: x**2 for x in [1,2,3,4,5]}
D

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [197]:
# bet pagrindinis būdas naudojant zip()
myDict = {k:v for (k,v) in zip(keys, values)}
myDict

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

#### Užduotis: gauti dict iš vardų list'o, kur "key" yra vardas, o "value" - index numeris

In [198]:
a = ["Jonas", "Petras", "Kazys", "Joan"]
d = {v:i for i, v in enumerate(a)}
d

{'Jonas': 0, 'Petras': 1, 'Kazys': 2, 'Joan': 3}

## Importing modules https://www.w3schools.com/python/python_modules.asp
## https://docs.python.org/3/library/

In [199]:
# Python'as turi Core funkcianalumą, bet taip galima naudoti modulius, kuriuos labai paprasta importuoti.
# Taip daroma, kadangi ne viso programavimo kalbos funkcinualumo kiekvieną kartą reikia kuriant kodą, todėl kai prireikia
# speficinio funcianalumo, importuojmas atitinkamas modulis ir modulios funkcijos/metodai pasiekiami per ".":
# import modulio pavadinimas

In [200]:
# datatime padeda dirbti su datomis ir laiku, kaip pvz.:
import datetime
datetime.date.today()

datetime.date(2018, 12, 11)

In [201]:
print(datetime.date.today())

2018-12-11

In [202]:
# kadangi kiekvienas modulis turi fukcijas/metodus, kurių gali nereikti, todėl galima importuoti tik tą funkciją/as.
from datetime import date
today = date.today()
print(today)

2018-12-11

In [203]:
# taip pat, kaikurie moduliai gali turėti ilgus pavadinimus, todėl galima su kurti alias sutrunpinant. Taip pat naudoja
# ir pagal convention tam tikriems moduliams.
import datetime as d
d.date.today()

datetime.date(2018, 12, 11)

In [204]:
# sys dirbant su sistema ir konsole, bet mums neaktualu

In [205]:
# copy padeda dirbant su kopijomis, nes python tam tikrais kartais ne kuria kopijos, o sukuria referencą, dažniausiai 
# taip yra su kintamųjų sukųrimu.
a = ["a"]
b = a
a.append("b")
print(a)
print(b)

['a', 'b']
['a', 'b']

In [206]:
import copy
a = ["a"]
b = copy.copy(a)
a.append("b")
print(a)
print(b)

['a', 'b']
['a']

In [207]:
# pprint esant reikalui, jei dirbama su konsole, pagrąžina duomenų output'inimą į konsolę.

In [208]:
# random padeda generuoti random numerius

In [209]:
import random
print(random.random()) # Random 0.0 <= x < 1.0
print(random.randint(1,9)) # 1 <= x < 9

0.4656372847844309
7

In [210]:
from random import shuffle
x = [i for i in range(10)]
print(x)
shuffle(x)
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 1, 6, 9, 5, 8, 3, 4, 7]

#### Užduotis: Užduotis: gauti dict iš vardų list'o, kur "key" yra vardas, o "value" - random numeris

In [211]:
import random

a = ["Jonas", "Petras", "Kazys", "Joan"]
l = list()

for i in range(0,len(a)):
    l.append(random.randint(i,10))

print(l)

d = {v:r for v, r in zip(a,l)}
d

[6, 1, 5, 4]

{'Jonas': 6, 'Petras': 1, 'Kazys': 5, 'Joan': 4}

In [212]:
# csv modulis, kuris leidžia dirbti su csv failais, kadangi vėliau žaisime su failais, tai dabar tiek
# import csv

In [213]:
# json modulis, kuris leidžia dirbti su json failais, kadangi vėliau žaisime su failais, tai dabar tiek

In [214]:
# galima ir savo modulį: išsaugomas failas su .py. Pvz. file1.py suvedam tokį kodą:
# skaicius = 5
# def up(a):
#     return a ** 2
# tai kitam faile pvz. file2.py galima, šiam pavyzdžui file1.py turi būti tam pačiam folder'yje, bet šiaip nebūtinai
# import file1.py
# tada su "." galima pasiekti tiek fukciją, tiek kintamąjį
# a = file1.skaicius
# b = file1.up(2)

### 5 diena

## Exceptions https://realpython.com/python-exceptions/

In [215]:
# Exceptions naudojami dirbant su error'ai, nes įvykus error'ui, programa "nulužta", bet exceptions padeda to išvengti
# Kaip matote, kodas neturi error'o kaip tokio, bet panaudojus "raise", galima kokį norime error'ą pateikti.
x = 10
if x > 5:
    raise Exception('x should not exceed 5. The value of x was: {}'.format(x))

Exception: x should not exceed 5. The value of x was: 10

In [216]:
sk1 = 5
sk2 = 0

def dalyba(a, b):
    return a/b

dalyba(sk1, sk2)
# Kaip matote, šios cell'ės kodo vykdymas išmetė ZeroDivisionError ir "sustojo", bet naudojant "except" galima "nulužimo"
# išvengt

ZeroDivisionError: division by zero

In [217]:
def sudetis(a, b):
    return a + b

try:
    dalyba(sk1, sk2)
except ZeroDivisionError as error:
    print(error)
    print(sudetis(sk1, sk2))
# Kaip matote, kodas "neužlužo" ir buvo atspaudintas error'as, nes taip nurodyta kode, bet taip pat galimas ir bet koks
# kitas kodas, kaip pvz. buvo įvykdyta funkcija sudetis ir atprint'intas rezultatas

division by zero
5

In [218]:
# Dabar logika tokia: su "try" pabandyk atlikti kažkokį kodą, jei klaida, su "except" "pagauk" klaidą ir arba 
# atprint'ink klaidą (dažniausiai) arba įvykdyk kitą kodą. Bet jei klaidos nėra, tada panaudojamas "else".
# Jame vėl gali būti "try"-"except" arba bet koks kitas kodas. Pavyzdyje pabandoma atidaryti .log failą 
# (working su failais yra parodytas žemiau) ir jei failo nėra, print'ina klaidą, jei yra, jį atidaro "read" mode'e
# (vėlgi žiūrėti žemiau)
# Kaip matot, jei sk2 = 0, atprint'tina "division by zero" ir 5
sk1 = 5
sk2 = 0

try:
    dalyba(sk1, sk2)
except ZeroDivisionError as error:
    print(error)
    print(sudetis(sk1, sk2))
else:
    try:
        with open('file.log') as file:
            read_data = file.read()
    except FileNotFoundError as fnf_error:
        print(fnf_error)

division by zero
5

In [219]:
# Jei sk2 != 0, atprint'tina klaidą, kad nerastas failas
sk1 = 5
sk2 = 1

try:
    dalyba(sk1, sk2)
except ZeroDivisionError as error:
    print(error)
    print(sudetis(sk1, sk2))
else:
    try:
        with open('file.log') as file:
            read_data = file.read()
    except FileNotFoundError as fnf_error:
        print(fnf_error)

[Errno 2] No such file or directory: 'file.log'

In [220]:
# ir galiausiai dar yra naudojamas "finally", kuris reiškia, kodas turi būti vydomas neprilausomai ar yra klaida ar ne
sk1 = 5
sk2 = 1

try:
    dalyba(sk1, sk2)
except ZeroDivisionError as error:
    print(error)
    print(sudetis(sk1, sk2))
else:
    try:
        with open('file.log') as file:
            read_data = file.read()
    except FileNotFoundError as fnf_error:
        print(fnf_error)
finally:
    print("Čia turi patekti kodas, kuris turi būti vykdomas ne priklausomai nuo to ar yra klaidos ar ne")

[Errno 2] No such file or directory: 'file.log'
Čia turi patekti kodas, kuris turi būti vykdomas ne priklausomai nuo to ar yra klaidos ar ne

##  Working with files, context managers and the "with statement" and
Write, Create https://www.w3schools.com/python/python_file_write.asp

Open file https://www.w3schools.com/python/python_file_open.asp

Delete https://www.w3schools.com/python/python_file_remove.asp

Context managers https://dbader.org/blog/python-context-managers-and-with-statement

###### Senovinis būdas dirbti su failais yra toks:
f = open("failaspavadinimas.txt", "mode'as") as f:

pagrindiniai mode'ai, nenurodžius default yra "r":

"r" - Opens a file for reading only. The file pointer is placed at the beginning of the file. This is the default mode.

"r+" - Opens a file for both reading and writing. The file pointer placed at the beginning of the file.

"w" - Opens a file for writing only. Overwrites the file (truncate file to zero length) if the file exists. If the file does not exist, creates a new 
file for writing.

"w+"  - Opens a file for both writing and reading. Overwrites the existing file (truncate file to zero length) if the file exists. If the file does not exist, creates a new file for reading and writing.

"a" - Opens a file for appending. The file pointer is at the end of the file if the file exists. That is, the file is in the append mode. If the file does not exist, it creates a new file for writing.

"a+"  - Opens a file for both appending and reading. The file pointer is at the end of the file if the file exists. The file opens in the append mode. If the file does not exist, it creates a new file for reading and writing.

Daugiau galima pasižiūrėti čia https://www.tutorialspoint.com/python/python_files_io.htm

jei norim įrayšyti:

f.write("Galima tekstą arba duomenis, kurie išsaugoti kintamąjame")

jei norim nuskaityti:

f.read(size) - size is an optional numeric argument and this func returns a quantity of data equal to size. If size if omitted, then it reads the entire file and returns it

f.readline() - reads a single line from file with newline at the end t.y. yra iterator

f.readlines() - returns a list containing all the lines in the file aka list(iterator).

ir tada failą BŪTINA uždaryti:

f.close()

In [221]:
a = "Galima tekstą arba duomenis, kurie išsaugoti kintamąjame, bet viskas turi būti pateikta str formatu"
b = "Galima tekstą arba duomenis, kurie išsaugoti kintamąjame"
c = "Galima tekstą arba duomenis"
d = [1, 2, 3, 4, 5, 6, 7, 8, 9]
f = open("file1.txt", "w")
f.write(f"{a}{b}{c}")
f.close()
# atsidarykite failą ir pasižiūrėkite, kas įrašyta
# ir čia daugiau nieko negalime padaryti, pvz. dar ir nuskaityti failą

In [222]:
f = open("file1.txt", "w")
f.write(f"{a}\n{b}\n{c}\n")
f.close()

In [223]:
# jei veiksmą pakartosim, tik vietoj kintamojo a, norėsim b, turime duomenis perconvertuoti į str formatą
f = open("file1.txt", "w") # faile buvusi info ištrinama (truncate)
f.write(str(d))
f.close()

In [224]:
# pakeičiam failą nuskaitymui tolimesniam mokymuosi
f = open("file1.txt", "w")
f.write(f"{a}\n{b}\n{c}\n")
f.close()

In [225]:
f = open("file1.txt", "r")
print((f.read()))
# print(f.readlines())
# print((f.readline()))
# print((f.readline()))
# print((f.readline()))
f.close()

Galima tekstą arba duomenis, kurie išsaugoti kintamąjame, bet viskas turi būti pateikta str formatu
Galima tekstą arba duomenis, kurie išsaugoti kintamąjame
Galima tekstą arba duomenis

In [226]:
f = open("file1.txt", "r")
# print((f.read()))
print(f.readlines())
# print((f.readline()))
# print((f.readline()))
# print((f.readline()))
f.close()

['Galima tekstą arba duomenis, kurie išsaugoti kintamąjame, bet viskas turi būti pateikta str formatu\n', 'Galima tekstą arba duomenis, kurie išsaugoti kintamąjame\n', 'Galima tekstą arba duomenis\n']

In [227]:
f = open("file1.txt", "r")
# print((f.read()))
# print(f.readlines())
print((f.readline()))
print((f.readline()))
print((f.readline()))
f.close()

Galima tekstą arba duomenis, kurie išsaugoti kintamąjame, bet viskas turi būti pateikta str formatu

Galima tekstą arba duomenis, kurie išsaugoti kintamąjame

Galima tekstą arba duomenis

In [228]:
# jei norim su for loop'u
f = open("file1.txt", "r")

for i in f:
    print(i.lower())
    
f.close()

galima tekstą arba duomenis, kurie išsaugoti kintamąjame, bet viskas turi būti pateikta str formatu

galima tekstą arba duomenis, kurie išsaugoti kintamąjame

galima tekstą arba duomenis

In [229]:
# jei norim pridėti papildomą informaciją
f = open("file1.txt", "a")
f.write("Pridėtas papildomas tekstas")
f.close()

##### Kaip matot, kiekvieną kartą reikia atsiminti panaudoti close() kas yra labai nepatogu prisiminti daug kodinant todėl kaip visada python'as turi palengvinimą, kuris atrodo taip:
with open("file1.txt", "a") as f:
    
        galioja tas pats kodas, kaip prieš tai buvusiam būdui

##### Užduotis: Panaudojus random modulį, sukurti failą su random skaičiumi prie pavadinimo ir įrašyti kokį nors tekstą su tuo pačiu random skaičium

In [230]:
import random
rand = random.randint(1, 50)

with open(f"file{rand}.txt", "w") as f:
    f.write(f"Tekstas{rand}")

##### Užduotis: Priimti slaptažodį ir emailą bei išsaugoti faile

In [231]:
import random
slapta = input("Slaptažodis? ")
elpastas = input("El.paštas ")

with open(f"file2.txt", "w") as f:
    f.write(f"Slaptažodis {slapta}\nEmailas {elpastas}")

Slaptažodis? sasdasd
El.paštas asdasd@asdad.com

In [232]:
# csv https://realpython.com/python-csv/
import csv
with open('failas.csv', newline="") as csv_file:
    csv_reader = csv.reader(csv_file)
    print(csv_reader) # todėl, kad reader yra iterator objektas
    print(list(csv_reader))

FileNotFoundError: [Errno 2] No such file or directory: 'failas.csv'

In [233]:
with open('failas.csv', newline="") as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    for i in csv_reader:
        print(i)

FileNotFoundError: [Errno 2] No such file or directory: 'failas.csv'

In [234]:
a = ["Jonas", "Jonaitis", "Kaunas"]
with open('failas.csv', newline="", mode='a') as csv_file:
    csvwriter = csv.writer(csv_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    csvwriter.writerow(a)

In [235]:
with open('failas.csv', newline="\n", mode='a') as csv_file:
    csvwriter = csv.writer(csv_file, delimiter=',', quotechar='"', quoting=csv.QUOTE_MINIMAL)
    csvwriter.writerow(a)

In [237]:
# json https://realpython.com/python-json/
import json

with open("naujas.json", "r") as read_file:
    data = json.load(read_file)
    print(data)

FileNotFoundError: [Errno 2] No such file or directory: 'naujas.json'

In [238]:
# Užduotis: kad atspaudintu random value iš list'o dict viduje
import json
import random

with open("naujas.json", "r") as read_file:
    data = json.load(read_file)
    print(data)
    for i in data.values():
        if type(i) is str:
            print(i.lower())
        elif type(i) is int:
            print(i)
        else:
            rand = random.randint(0, (len(i)-1))
            print(i[rand])

FileNotFoundError: [Errno 2] No such file or directory: 'naujas.json'

### 6 diena

In [239]:
# html? https://programminghistorian.org/en/lessons/creating-and-viewing-html-files-with-python

### 7 diena

In [2]:
# Split https://www.pythonforbeginners.com/dictionary/python-split
a = "Užduotis: sukurti vardų, pavardžių ir amžiaus list'us (pvz. po 5) ir jų duomenis įrašyti į failą taip"
a.split()

['Užduotis:',
 'sukurti',
 'vardų,',
 'pavardžių',
 'ir',
 'amžiaus',
 "list'us",
 '(pvz.',
 'po',
 '5)',
 'ir',
 'jų',
 'duomenis',
 'įrašyti',
 'į',
 'failą',
 'taip']

In [3]:
# Join https://www.programiz.com/python-programming/methods/string/join
b = ":".join(a)
b

"U:ž:d:u:o:t:i:s::: :s:u:k:u:r:t:i: :v:a:r:d:ų:,: :p:a:v:a:r:d:ž:i:ų: :i:r: :a:m:ž:i:a:u:s: :l:i:s:t:':u:s: :(:p:v:z:.: :p:o: :5:): :i:r: :j:ų: :d:u:o:m:e:n:i:s: :į:r:a:š:y:t:i: :į: :f:a:i:l:ą: :t:a:i:p"

In [4]:
# Splitlines https://www.tutorialspoint.com/python/string_splitlines.htm
# ne taip, kaip split() split'ina string per " ", splitlines per "\n"
c = "Užduotis: sukurti\n vardų, pavardžių ir amžiaus\n list'us (pvz. po 5) ir jų duomenis\n įrašyti į failą taip"
c.splitlines()

['Užduotis: sukurti',
 ' vardų, pavardžių ir amžiaus',
 " list'us (pvz. po 5) ir jų duomenis",
 ' įrašyti į failą taip']

In [5]:
b = [1, 2, 3, 41, 5, 6, 79]
print(": ".join(map(str, b)))

1: 2: 3: 41: 5: 6: 79

In [6]:
print(", ".join(str(x) for x in b))

1, 2, 3, 41, 5, 6, 79

In [9]:
a = "Nuo kitų metų pensijai kaupsime kitaip nei tai darėme iki šiol"
print(a.split())
words = ["zodis", "zodis1"]
# data['text'].apply(lambda x: " ".join([stemmer.stem(i) for i in re.sub("[^a-zA-Z]", " ", x).split() if i not in words]).lower())

['Nuo', 'kitų', 'metų', 'pensijai', 'kaupsime', 'kitaip', 'nei', 'tai', 'darėme', 'iki', 'šiol']

###### Užduotis: sukurti vardų, pavardžių ir amžiaus list'us (pvz. po 5) ir jų duomenis įrašyti į failą taip:
Vardai - Jonas ir taip toliau, gali būti per kablelį 

Pavardė - Jonaitis ir taip toliau, gali būti per kablelį 

Amžius - 35 ir taip toliau, gali būti per kablelį

In [10]:
vardai = ["Jonas", "Petras", "Jane", "Titas", "Antanas"]
pavardes = ["Jonaitis", "Petraitis", "Janaite", "Titenis", "Antanaitis"]
amzius = [35, 56, 45, 12, 45]

with open("file.txt", "w") as f:
    for i in ["Vardas", "Pavardes", "Amziai", "Gatve"]:
        if i == "Vardas":
            f.write(f"{i} - " + ", ".join(vardai) + "\n")
        elif i == "Pavardes":
            f.write(f"{i} - " + ", ".join(pavardes) + "\n")
        else:
            f.write(f"{i} - " + ", ".join(str(x) for x in amzius) + "\n")

## Miscellaneous

### requirements.txt

https://medium.com/python-pandemonium/better-python-dependency-and-package-management-b5d8ea29dff1

BŪTINAI: conda install beautiful-soup pandas numpy requests

In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup as bs
import requests

##### Naudojama norint išsaugoti naudojamus packages, kad būtų galima pvz. instaliuoti kituose kompiuterius, kai reikiami packages nėra instaliuoti 
pip freeze > requirements.txt - išsaugojami visi instaliuoti package'ai

pip install -r requirements.txt - 

Anaconda sukūrimas ir instaliavimas šiek tiek skiriasi

##### Užduotis: sukurti naują env, instaliuoti pasirinktus 5 package iš čia https://anaconda.org/anaconda/repo ir sukurti requarements.txt failą

###  Generators ir Yield

https://www.programiz.com/python-programming/generator

In [5]:
# naudojama, kai reikia spręsti memory problemas, nes veikia kaip iterator,
# bet prisimena tik vieną kartą t.y yra generator,
# norint daugiau kartų reikia iš naujo pvz. sukurti kintamąjų 
# (pvz. jupyter'yje run iš naujo cell)
a = (x * 2 for x in range(0, 10)) # kiap tuple comprehension'as
a

In [3]:
for i in a:
    print(i)

0
2
4
6
8
10
12
14
16
18

In [6]:
# bet paleidę vėl daugiau neprinti'ina
for i in a:
    print(i)
# todėl, kad per pirmą for loop'ą visos reikšmės buvo parodytos ir "pamirštos"

0
2
4
6
8
10
12
14
16
18

In [8]:
# Yield pakaitalas "return", kai norime kad funckija darytų tą patį ir kai ta funkcija turi daryti sudėtingesnius
# skaičiavimus, kurių negalima sutalpinti
def daug(riba):
    for i in range(riba):
        yield i * 2

a = daug(10)

for i in a:
     print(i)

0
2
4
6
8
10
12
14
16
18

In [9]:
# jei vėl paleidžiam, nieko
for i in a:
     print(i)

In [11]:
# sudėtingesni skaičiavimai su funkcija
# (x * 2 for x in range(0, 10)

def daug(riba):
    a = 15
    b = 20
    for i in range(riba):
        c = (i / a) * b
        yield c * 2

e = daug(10)

for i in e:
     print(i)

0.0
2.6666666666666665
5.333333333333333
8.0
10.666666666666666
13.333333333333332
16.0
18.666666666666668
21.333333333333332
24.0

In [13]:
for i in e:
     print(i)

###  Closures
https://www.programiz.com/python-programming/closure

In [254]:
# dažniausiai naudojama sprendžiant global'ių kintamųjų problema ir dirbant su klasėmis
a = 5

def print_msg(msg):
# This is the outer enclosing function

    def printer():
# This is the nested function
        print(msg)

    printer()

print_msg("Hello")

Hello

In [16]:
def print_msg(msg):
# This is the outer enclosing function

    def printer():
# This is the nested function
        print(msg)

    return printer  # this got changed
# print_msg("Hello")
another = print_msg("Hello")
another

In [17]:
another()

Hello

In [18]:
def make_multiplier_of(n):
    def multiplier(x):
        return x * n
    return multiplier

# Multiplier of 3
times3 = make_multiplier_of(3)

# Multiplier of 5
times5 = make_multiplier_of(5)

# Output: 27
print(times3(9))

# Output: 15
print(times5(3))

# Output: 30
print(times5(times3(2)))

27
15
30

### 8 diena

## Webscraping

In [ ]:
# Pabandyti conda install pandas, numpy, beautiful-soup4, requests

In [54]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

K = []
L = []
KU = []
L1 = []

burl = "http://www.alio.lt/nekilnojamas-turtas/butai/parduoda.html?page="

# #BeautifulSoup standartinis puslapio duomenų paruošimas
m = requests.get(burl + "1")
d = m.content
d
soup = BeautifulSoup(d, "html.parser")
soup

<!DOCTYPE doctype html>

<html>
<head>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
<link href="https://www.alio.lt/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="telephone=no" name="format-detection"/>
<script>
    var isNB = true;
    var dataLayer = [];
    var win_iw = window.innerWidth;


    function ga_track(param1, param2, param3, param4)
    {
        if(typeof param4 == "undefined")
        {
            param4 = false;
        }

        if(typeof param3 == "undefined")
        {
            param3 = 1;
        }

        if(typeof param2 == "undefined")
        {
            param2 = "action";
        }

        if(typeof param1 == "undefined")
        {
            param1 = "category";
        }

        if(param4)
        {
            dataLayer.push({
                'event':'GAevent',
                'eventCategory': param1,
                'eventAction': param2,
                'eventLabel': param3,
                'eventInteraction': 'true'
            });
        }
        else
            dataLayer.push({
                'event':'GAevent',
                'eventCategory': param1,
                'eventAction': param2,
                'eventLabel': param3,
                'eventInteraction': 'false'
            });
    }

    </script>
<meta content="Parduoda butą skelbimai | Alio.lt" name="cXenseParse:title"/>
<title>Parduoda butą skelbimai | Alio.lt</title>
<meta content="Parduoda butą skelbimai | Alio.lt" property="og:title"/>
<meta content="Parduoda butą skelbimai. pigiai parduodami butai su nuotraukomis. " name="cXenseParse:description"/>
<meta content="Parduoda butą skelbimai. pigiai parduodami butai su nuotraukomis." property="og:description"/>
<meta content="Parduoda butą skelbimai. pigiai parduodami butai su nuotraukomis." name="description"/>
<meta content="Buta, butai, butus, 1 k.b., 2 k.b., 3 k.b., pigus, nebrangus, geri, naujos, statybos, irengtas, butas, parduoda, parduodu, parduodame, parduodu butą, parduodu butą" name="cXenseParse:keywords"/>
<meta content="Buta, butai, butus, 1 k.b., 2 k.b., 3 k.b., pigus, nebrangus, geri, naujos, statybos, irengtas, butas, parduoda, parduodu, parduodame, parduodu butą, parduodu butą" name="keywords"/>
<meta content="https://g3.acdn.lt/img/alio_og.png" itemprop="image"/>
<meta content="https://g3.acdn.lt/img/alio_og.png" property="og:image"/>
<meta content="1200" property="og:image:width"/>
<meta content="607" property="og:image:height"/>
<meta content="index" name="robots"/>
<meta content="https://www.alio.lt/nekilnojamas-turtas/butai/parduoda.html" name="cXenseParse:url"/>
<meta content="https://www.alio.lt/nekilnojamas-turtas/butai/parduoda.html" property="og:url"/>
<link href="https://www.alio.lt/nekilnojamas-turtas/butai/parduoda.html" rel="canonical"/>
<link href="https://www.alio.lt/nekilnojamas-turtas/butai/parduoda.html?page=2" rel="next"/>
<meta content="214706988697457" property="fb:app_id"/>
<script src="https://g1.acdn.lt/js/jquery-1.12.0.min.js"></script> <meta content="categories" name="cXenseParse:pageclass"/>
<link href="https://g1.acdn.lt/css/css.php?2546504652" rel="stylesheet" type="text/css"/>
<script src="https://g4.acdn.lt/js/jscategory.php?27715524381" type="text/javascript"></script>
<link href="https://www.alio.lt/pub/css/font-awesome-pro.css" rel="stylesheet" type="text/css"/>
<link href="https://www.alio.lt/pub/css/v4-shims.css" rel="stylesheet" type="text/css"/>
<link href="https://g2.acdn.lt/css/mincss.php?f=mini.subscribeB.css,mini.search.css,mini.categorysavedsearches.css&amp;v=3658065819" rel="stylesheet" type="text/css"/>
<link href="https://g1.acdn.lt" rel="dns-prefetch"/>
<link href="https://g2.acdn.lt" rel="dns-prefetch"/>
<link href="https://g3.acdn.lt" rel="dns-prefetch"/>
<link href="https://g4.acdn.lt" rel="dns-prefetch"/>
<!--NDADS--><!--ATcategory-->
<script id="ibbTagEngine" src="https://keytarget.adnet.lt/stable/keytarget.min.js?id=alio_lt"></script>
<script type="text/javascript">

      window.adnet = window.adnet || [];
var objTL = [];

$(document).ready(function()
{
    if(!$("#blocker_checker").is(":visible"))
    {
        ga_track('Adblocker', 'on', "1", true);
        isNB = false;
    }
    else
    {
        ga_track('Adblocker', 'off', "1", true);
    }

    if($("#blocker_checker").is(":visible"))
    {
        if(typeof win_iw != "undefined" && win_iw > 1069){
            this_url = window.location.href;
            var adnet_category = 'adnetAds';
            var adnet_action = 'other';
            var adnet_label = '1';

                            adnet_action = 'category';
                adnet_label = 'nekilnojamas-turtas/butai/parduoda';
                        if(this_url.match('paieska')){
                adnet_action = 'search';
                adnet_label = '1';
            }
            ga_track(adnet_category,adnet_action,adnet_label, true);
        }



  window.adnet.push(['_attachData', 'advertise', '0']);  window.adnet.push(['_attachData', 'category_uri', 'nekilnojamas-turtas/butai/parduoda']);







        function loadSlot(type)
        {
             if(type == 'DA05_728x250_1') window.adnet.push(['DA05_728x250_1', '20987.6.4.1']); if(type == 'DA06_728x250_2') window.adnet.push(['DA06_728x250_2', '20987.6.5.1']); if(type == 'DA06_300x250_1') window.adnet.push(['DA06_300x250_1', '20987.6.10.3']); if(type == 'DA06_300x250_2') window.adnet.push(['DA06_300x250_2', '20987.6.11.3']); if(type == 'DA18_Mobile_300x250_1') window.adnet.push(['DA18_Mobile_300x250_1', '20987.6.4.3']); if(type == 'DA19_Mobile_300x250_2') window.adnet.push(['DA19_Mobile_300x250_2', '20987.6.5.3']); if(type == 'DA20_Mobile_300x250_3') window.adnet.push(['DA20_Mobile_300x250_3', '20987.6.6.3']); if(type == 'DA21_Mobile_300x250_4') window.adnet.push(['DA21_Mobile_300x250_4', '20987.6.21.3']); if(type == 'DA_Mobile_Tracker') window.adnet.push(['DA_Mobile_Tracker', '20987.22.1.2']); if(type == 'DA_Desktop_Tracker') window.adnet.push(['DA_Desktop_Tracker', '20987.22.2.2']); if(type == 'DA00_Pixel') window.adnet.push(['DA00_Pixel', '20987.6.2.2']); if(type == 'DA22_Mobile_Pixel') window.adnet.push(['DA22_Mobile_Pixel', '20987.6.22.2']); if(type == 'DA01_1050x200') window.adnet.push(['DA01_1050x200', '20987.6.2.1']); if(type == 'DA02_1050x200_Bottom') window.adnet.push(['DA02_1050x200_Bottom', '20987.6.3.1']); if(type == 'DA09_300x150_1') window.adnet.push(['DA09_300x150_1', '20987.20.1.3']); if(type == 'DA10_300x150_2') window.adnet.push(['DA10_300x150_2', '20987.20.2.3']); if(type == 'DA11_300x150_3') window.adnet.push(['DA11_300x150_3', '20987.20.3.3']); if(type == 'DA12_300x150_4') window.adnet.push(['DA12_300x150_4', '20987.20.4.3']); if(type == 'DA13_300x600_5') window.adnet.push(['DA13_300x600_5', '20987.6.2.3']); if(type == 'DA14_300x600_6') window.adnet.push(['DA14_300x600_6', '20987.6.3.3']); if(type == 'DA15_300x600_7') window.adnet.push(['DA15_300x600_7', '20987.20.7.3']); if(type == 'DA16_300x600_8') window.adnet.push(['DA16_300x600_8', '20987.20.8.3']); if(type == 'DA17_300x600_9') window.adnet.push(['DA17_300x600_9', '20987.20.9.3']);
            if(type == 'DA18_300x600_10') window.adnet.push(['DA18_300x600_10', '20987.20.10.3']);
            if(type == 'DA19_300x600_11') window.adnet.push(['DA19_300x600_11', '20987.20.11.3']);
            if(type == 'DA20_300x250_12') window.adnet.push(['DA20_300x250_12', '20987.20.12.3']);
            if(type == 'DA21_300x250_13') window.adnet.push(['DA21_300x250_13', '20987.20.27.3']);
            if(type == 'DA_HERO') window.adnet.push(['DA_HERO', '20987.20.8.1']);
        }



    }
    else
    {
        function loadSlot(type){
            return false;
        }
    }


    function showSlot(id)
    {
        //window.Adntmedia.KeyTarget.HeaderBidder.requestBanners(id);
        window.adnet.push(['_drawHeaderBidderBanners', id]);
    }

    function triggerLoadTimer(id)
    {
        showSlot(id);
    }

    function triggerObjTL()
    {
        if(objTL.length > 0)
        {
            var content_ih;
            var show_ih;
            var current_ih;
            var diff_ih;
            var slot_id;

            if (typeof advertiseicon_ad_id != "undefined") {
                content_ih = $("#vertise_main_data_b").height();
                current_ih = $("#vertise_banners_placer_b").height();
            }
            else {
                content_ih = $("#main_left_b").height();
                current_ih = $("#main_right_b").height();
            }

            var increamentK = 1;
            var timeoutV = 750;

            $.each(objTL, function(key, value)
                {



                    if(value['check_height'] > 0)
                    {
                        if (typeof advertiseicon_ad_id != "undefined") {

                            diff_ih = content_ih - current_ih + 100;
                            show_ih = value['check_height'];

                            if (show_ih < diff_ih) {
                                loadSlot(value['id']);

                                setTimeout(function()
                                {
                                    triggerLoadTimer(value['id']);
                                }, timeoutV * increamentK);
                                increamentK++;

                                $("#" + value['id']).removeClass("check_height");
                                current_ih += parseFloat(show_ih) + 10;
                            }
                        }
                        else {

                            diff_ih = content_ih - current_ih + 100;
                            show_ih = value['check_height'];

                            if (show_ih < diff_ih) {
                                loadSlot(value['id']);

                                setTimeout(function()
                                {
                                    triggerLoadTimer(value['id']);
                                }, timeoutV * increamentK);
                                increamentK++;

                                $("#" + value['id']).removeClass("check_height");
                                current_ih += parseFloat(show_ih) + 10;
                            }
                        }
                    }
                    else
                    {

                        setTimeout(function()
                        {
                            triggerLoadTimer(value['id']);
                        }, timeoutV * increamentK);
                        increamentK++;

                    }
                }
            );
        }
    }

    if(isNB)
    {
        var objd;
        var objtrackClass = "shamob";
        if(typeof win_iw != "undefined" && win_iw > 1069)
        {
            objtrackClass = "shadesc";
        }

        $("." + objtrackClass).each(function() {
            objd = [];
            objd['id'] = $(this).attr("id");
            if($(this).hasClass("check_height"))
            {
                objd['check_height'] = $(this).attr("data-minheight");
            }
            else
            {
                loadSlot(objd['id']);
            }

            if($(this).hasClass("shadelay"))
            {
                objTL.push(objd);
            }
        });

        triggerObjTL();
    }


    window.adnet.push(['_initialize']);

    });



  </script>
</head>
<body id="body">
<noscript><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-TPJKGCL" style="display:none;visibility:hidden" width="0"></iframe></noscript>
<div id="wallpaper"></div>
<div id="delfi-container-wrapper">
<div id="main-content-header">
<div id="banner-top">
<div class="a1200x250 shadesc" id="DA01_1050x200"></div>
</div>
<div id="topMenu_bg_h"></div>
<div id="header_m_menu">
<input id="mobmenu" type="checkbox"/>
<div id="header_m_menu_c">
<div id="logo_mob_b">
<a href="https://www.alio.lt/" id="logo_mob_placement_b" title="Nemokami skelbimai">
<img alt="Alio.lt nemokami skelbimai" height="45" src="https://g4.acdn.lt/img/svg/logo.svg" width="125"/>
</a>
</div>
<div class="noanim" id="mobmenu_h_b">
<span></span>
<span></span>
<span></span>
<span></span>
</div>
<a href="https://www.alio.lt/patike_skelbimai.html" id="fav_mb_m_b">
<span></span>
<i></i>
</a>
<a class="eventView showmobile" data-creation="+ Dėti" data-id="header_line_b" data-name="Ideti skelbima mygtukas" data-pos="mobile header" href="https://www.alio.lt/pasirinkite_kategorija.html?id=1373" id="addnew_mb_m_b"><span>+</span>Dėti</a>
<div class="clr"></div>
</div>
<div id="logo_n_placement_b">
<a href="https://www.alio.lt/" id="logo_n_placement" title="Nemokami skelbimai">
<img alt="Alio.lt nemokami skelbimai" height="69" src="https://g4.acdn.lt/img/svg/logo.svg" width="203"/>
</a>
</div>
<div id="header_r_side_b">
<div id="header_m_menu_b">
<div id="topMenu">
<div class="mobilehide" id="city_menu"> </div><ul class="user_menu_small logged" id="user_menu_type"><li class="showmobile"><a class="eventView" data-creation="Įdėti skelbimą" data-id="header_line_a" data-name="Virsutinis meniu" data-pos="1" href="https://www.alio.lt/pasirinkite_kategorija.html" rel="nofollow">Įdėti skelbimą</a></li><li id="edita_b_i"><a class="first eventView" data-creation="Redaguoti skelbimą" data-id="header_line_a" data-name="Virsutinis meniu" data-pos="2" href="https://www.alio.lt/redaguoti_skelbimai.html" rel="nofollow">Redaguoti skelbimą</a></li><li id="login_b_i"><a class="eventView" data-creation="Prisijunk" data-id="header_line_a" data-name="Virsutinis meniu" data-pos="3" href="https://www.alio.lt/prisijungimas.html" rel="nofollow">Prisijunk</a></li><li id="register_b_i"><a class="eventView" data-creation="Užsiregistruok" data-id="header_line_a" data-name="Virsutinis meniu" data-pos="4" href="https://www.alio.lt/registracija.html" rel="nofollow">Užsiregistruok</a></li><li id="fav_b_i"><a class="eventView" data-creation="Pažymėti" data-id="header_line_a" data-name="Virsutinis meniu" data-pos="5" href="https://www.alio.lt/patike_skelbimai.html" rel="nofollow">Pažymėti <span class="highlight" id="favoritesCount_b">(0)</span></a></li><li id="savs_b_i"><a class="eventView" data-creation="Išsaugotų paieškų" data-id="header_line_a" data-name="Virsutinis meniu" data-pos="6" href="https://www.alio.lt/public/savedsearches/savedSearchesList.html" rel="nofollow">Išsaugotų paieškų <span class="highlight">(0)</span></a></li></ul><div class="clr"></div></div> <div class="clr"></div>
</div>
<div id="header_line_b">
<div class="loadHelperClass" id="header_ms_b">
<form action="https://www.alio.lt/paieska/" id="ts_form" method="get">
<div id="search_mh_b"><div id="ts_query_b_b"><div id="ts_query_b"><i id="search_icon"></i><input class="text eventView" data-creation="Tekstas" data-id="header_line_b" data-name="Paieskos blokas" data-pos="1" id="ts_query" name="ts_query" placeholder="Ieškokite tarp 284 977 skelbimų" type="search" value=""><i id="ts_delete_icon"></i></input></div></div><button class="button_n eventView" data-creation="Submit" data-id="header_line_b" data-name="Paieskos blokas" data-pos="4" id="ts_submit_b" type="submit"><i></i></button> <div id="ts_city_b"> <div class="eventView" data-creation="Miestas" data-id="header_line_b" data-name="Paieskos blokas" data-pos="2_desktop" id="ts_city_selector"> <span>Visi miestai</span> <i class="city_delete_icon fa"></i> </div> <div class="eventView" data-creation="Miestas" data-id="header_line_b" data-link="https://www.alio.lt/public/textSearch/searchFilterCity.html?category_id=1373&amp;city_id=1" data-name="Paieskos blokas" data-pos="2_mobile" id="ts_city_selector_m"> <span>Visi miestai</span> <i class="city_delete_icon fa"></i> </div> <div data-link="https://www.alio.lt/public/index/topCitiesList.html" id="ts_city_list"> <div id="ts_city_list_placer"> </div> <input id="ts_city_input" name="city_id" type="hidden" value=""/> <input id="ts_city_input_path" type="hidden" value=""/> <div data-link="https://www.alio.lt/public/textSearch/setCity.html" id="selecting-city"></div></div> </div> </div> <div id="ts_category_b"><div class="categorySet eventView" data-creation="Kategorija" data-id="header_line_b" data-name="Paieskos blokas" data-pos="1" id="ts_category_selector"><span>Parduoda</span><i class="category_delete_icon fa"></i></div><div id="ts_category_list"><span class="cat_l_b selected selecteds" data-main-cat-id="1353" data-value="1373">└ Parduoda</span><span class="cat_l_b " data-main-cat-id="1353" data-value="1363">└ Butai</span><span class="cat_l_b " data-main-cat-id="1353" data-value="1353">└ Nekilnojamasis turtas</span><span class="cat_l_b cat_l_borderb" data-value="" id="allcats_v">└ Visi skelbimai</span><span class="cat_l_b " data-main-cat-id="593" data-value="593">Transportas</span><span class="cat_l_b " data-main-cat-id="1353" data-value="1353">Nekilnojamasis turtas</span><span class="cat_l_b " data-main-cat-id="1743" data-value="1743">Statyba, remontas</span><span class="cat_l_b " data-main-cat-id="2113" data-value="2113">Viskas namams</span><span class="cat_l_b " data-main-cat-id="2343" data-value="2343">Telefonai</span><span class="cat_l_b " data-main-cat-id="2443" data-value="2443">Darbas, mokslas</span><span class="cat_l_b " data-main-cat-id="2533" data-value="2533">Technika</span><span class="cat_l_b " data-main-cat-id="3003" data-value="3003">Laisvalaikis</span><span class="cat_l_b " data-main-cat-id="3313" data-value="3313">Drabužiai</span><span class="cat_l_b " data-main-cat-id="3423" data-value="3423">Kompiuterija</span><span class="cat_l_b " data-main-cat-id="3633" data-value="3633">Verslas</span><span class="cat_l_b " data-main-cat-id="5033" data-value="5033">Viskas nemokamai</span><span class="cat_l_b " data-main-cat-id="5172" data-value="5172">Prekės vaikams</span></div> <input id="ts_category_input" name="category_id" type="hidden" value="1373"/><input id="ts_category_input_path" type="hidden" value="Nekilnojamasis turtas &gt; Butai &gt; Parduoda"/></div><div class="clr"></div></form></div><div id="search_mh_b_bg"></div>
<div id="addnew_mb_b">
<a class="eventView" data-creation="+ Įdėti skelbimą" data-id="header_line_b" data-name="Ideti skelbima mygtukas" data-pos="1" href="https://www.alio.lt/pasirinkite_kategorija.html?id=1373">+ Įdėti skelbimą</a>
</div>
<div class="clr"></div>
<input name="top_search" type="hidden" value="1"/>
</div></div></div></div></div></body></html>


<div class="clr"></div>

<div class="clr"></div>


<div id="main-content-middle-part">
<div class="inner_pad">
<div class="contentMiddlePadding showmobile">
<div class="fl" id="contentMiddle_mobile_back_b">
<a onclick="history.go(-1);" rel="nofollow">
<i class="fa"></i>
							Atgal
						</a>
</div>
<div class="fl" id="contentMiddle_mobile_h1">
						Parduoda butą skelbimai					</div>
<div class="clr"></div>
</div>
<div class="contentMiddlePadding nopaddingbottom">
<div id="advert_path_b_placer">
<div id="advert_path_b">
<a class="fl path_e" href="https://www.alio.lt/" title="Nemokami skelbimai">Alio.lt</a>
<span class="fl path_padder path_e"></span>
<a class="fl path_e" href="https://www.alio.lt/nekilnojamas-turtas.html" title="Nekilnojamasis turtas"><h2>Nekilnojamasis turtas</h2></a>
<span class="fl path_padder fa path_e"></span>
<a class="fl path_e" href="https://www.alio.lt/nekilnojamas-turtas/butai/parduoda.html" title="Parduodami butai"><h2>Butai</h2></a>
<span class="fl path_padder fa path_e"></span>
<a class="fl path_e" href="https://www.alio.lt/nekilnojamas-turtas/butai/parduoda.html" title="Parduodami butai"><h2>Parduoda</h2></a>
<span class="fl neibor_cat_sep">|</span> <a class="fl childLast path_e" href="https://www.alio.lt/nekilnojamas-turtas/butai/perka.html" title="Ieško butus">Perka</a>

In [28]:
soup.title

In [29]:
soup.title.name

'title'

In [30]:
soup.title.string

'Parduoda butą skelbimai ( 5 psl. ) | Alio.lt'

In [31]:
soup.body

<body id="body">
<noscript><iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-TPJKGCL" style="display:none;visibility:hidden" width="0"></iframe></noscript>
<div id="wallpaper"></div>
<div id="delfi-container-wrapper">
<div id="main-content-header">
<div id="banner-top">
<div class="a1200x250 shadesc" id="DA01_1050x200"></div>
</div>
<div id="topMenu_bg_h"></div>
<div id="header_m_menu">
<input id="mobmenu" type="checkbox"/>
<div id="header_m_menu_c">
<div id="logo_mob_b">
<a href="https://www.alio.lt/" id="logo_mob_placement_b" title="Nemokami skelbimai">
<img alt="Alio.lt nemokami skelbimai" height="45" src="https://g4.acdn.lt/img/svg/logo.svg" width="125"/>
</a>
</div>
<div class="noanim" id="mobmenu_h_b">
<span></span>
<span></span>
<span></span>
<span></span>
</div>
<a href="https://www.alio.lt/patike_skelbimai.html" id="fav_mb_m_b">
<span></span>
<i></i>
</a>
<a class="eventView showmobile" data-creation="+ Dėti" data-id="header_line_b" data-name="Ideti skelbima mygtukas" data-pos="mobile header" href="https://www.alio.lt/pasirinkite_kategorija.html?id=1373" id="addnew_mb_m_b"><span>+</span>Dėti</a>
<div class="clr"></div>
</div>
<div id="logo_n_placement_b">
<a href="https://www.alio.lt/" id="logo_n_placement" title="Nemokami skelbimai">
<img alt="Alio.lt nemokami skelbimai" height="69" src="https://g4.acdn.lt/img/svg/logo.svg" width="203"/>
</a>
</div>
<div id="header_r_side_b">
<div id="header_m_menu_b">
<div id="topMenu">
<div class="mobilehide" id="city_menu"> </div><ul class="user_menu_small logged" id="user_menu_type"><li class="showmobile"><a class="eventView" data-creation="Įdėti skelbimą" data-id="header_line_a" data-name="Virsutinis meniu" data-pos="1" href="https://www.alio.lt/pasirinkite_kategorija.html" rel="nofollow">Įdėti skelbimą</a></li><li id="edita_b_i"><a class="first eventView" data-creation="Redaguoti skelbimą" data-id="header_line_a" data-name="Virsutinis meniu" data-pos="2" href="https://www.alio.lt/redaguoti_skelbimai.html" rel="nofollow">Redaguoti skelbimą</a></li><li id="login_b_i"><a class="eventView" data-creation="Prisijunk" data-id="header_line_a" data-name="Virsutinis meniu" data-pos="3" href="https://www.alio.lt/prisijungimas.html" rel="nofollow">Prisijunk</a></li><li id="register_b_i"><a class="eventView" data-creation="Užsiregistruok" data-id="header_line_a" data-name="Virsutinis meniu" data-pos="4" href="https://www.alio.lt/registracija.html" rel="nofollow">Užsiregistruok</a></li><li id="fav_b_i"><a class="eventView" data-creation="Pažymėti" data-id="header_line_a" data-name="Virsutinis meniu" data-pos="5" href="https://www.alio.lt/patike_skelbimai.html" rel="nofollow">Pažymėti <span class="highlight" id="favoritesCount_b">(0)</span></a></li><li id="savs_b_i"><a class="eventView" data-creation="Išsaugotų paieškų" data-id="header_line_a" data-name="Virsutinis meniu" data-pos="6" href="https://www.alio.lt/public/savedsearches/savedSearchesList.html" rel="nofollow">Išsaugotų paieškų <span class="highlight">(0)</span></a></li></ul><div class="clr"></div></div> <div class="clr"></div>
</div>
<div id="header_line_b">
<div class="loadHelperClass" id="header_ms_b">
<form action="https://www.alio.lt/paieska/" id="ts_form" method="get">
<div id="search_mh_b"><div id="ts_query_b_b"><div id="ts_query_b"><i id="search_icon"></i><input class="text eventView" data-creation="Tekstas" data-id="header_line_b" data-name="Paieskos blokas" data-pos="1" id="ts_query" name="ts_query" placeholder="Ieškokite tarp 284 962 skelbimų" type="search" value=""><i id="ts_delete_icon"></i></input></div></div><button class="button_n eventView" data-creation="Submit" data-id="header_line_b" data-name="Paieskos blokas" data-pos="4" id="ts_submit_b" type="submit"><i></i></button> <div id="ts_city_b"> <div class="eventView" data-creation="Miestas" data-id="header_line_b" data-name="Paieskos blokas" data-pos="2_desktop" id="ts_city_selector"> <span>Visi miestai</span> <i class="city_delete_icon fa"></i> </div> <div class="eventView" data-creation="Miestas" data-id="header_line_b" data-link="https://www.alio.lt/public/textSearch/searchFilterCity.html?category_id=1373&amp;city_id=1" data-name="Paieskos blokas" data-pos="2_mobile" id="ts_city_selector_m"> <span>Visi miestai</span> <i class="city_delete_icon fa"></i> </div> <div data-link="https://www.alio.lt/public/index/topCitiesList.html" id="ts_city_list"> <div id="ts_city_list_placer"> </div> <input id="ts_city_input" name="city_id" type="hidden" value=""/> <input id="ts_city_input_path" type="hidden" value=""/> <div data-link="https://www.alio.lt/public/textSearch/setCity.html" id="selecting-city"></div></div> </div> </div> <div id="ts_category_b"><div class="categorySet eventView" data-creation="Kategorija" data-id="header_line_b" data-name="Paieskos blokas" data-pos="1" id="ts_category_selector"><span>Parduoda</span><i class="category_delete_icon fa"></i></div><div id="ts_category_list"><span class="cat_l_b selected selecteds" data-main-cat-id="1353" data-value="1373">└ Parduoda</span><span class="cat_l_b " data-main-cat-id="1353" data-value="1363">└ Butai</span><span class="cat_l_b " data-main-cat-id="1353" data-value="1353">└ Nekilnojamasis turtas</span><span class="cat_l_b cat_l_borderb" data-value="" id="allcats_v">└ Visi skelbimai</span><span class="cat_l_b " data-main-cat-id="593" data-value="593">Transportas</span><span class="cat_l_b " data-main-cat-id="1353" data-value="1353">Nekilnojamasis turtas</span><span class="cat_l_b " data-main-cat-id="1743" data-value="1743">Statyba, remontas</span><span class="cat_l_b " data-main-cat-id="2113" data-value="2113">Viskas namams</span><span class="cat_l_b " data-main-cat-id="2343" data-value="2343">Telefonai</span><span class="cat_l_b " data-main-cat-id="2443" data-value="2443">Darbas, mokslas</span><span class="cat_l_b " data-main-cat-id="2533" data-value="2533">Technika</span><span class="cat_l_b " data-main-cat-id="3003" data-value="3003">Laisvalaikis</span><span class="cat_l_b " data-main-cat-id="3313" data-value="3313">Drabužiai</span><span class="cat_l_b " data-main-cat-id="3423" data-value="3423">Kompiuterija</span><span class="cat_l_b " data-main-cat-id="3633" data-value="3633">Verslas</span><span class="cat_l_b " data-main-cat-id="5033" data-value="5033">Viskas nemokamai</span><span class="cat_l_b " data-main-cat-id="5172" data-value="5172">Prekės vaikams</span></div> <input id="ts_category_input" name="category_id" type="hidden" value="1373"/><input id="ts_category_input_path" type="hidden" value="Nekilnojamasis turtas &gt; Butai &gt; Parduoda"/></div><div class="clr"></div></form></div><div id="search_mh_b_bg"></div>
<div id="addnew_mb_b">
<a class="eventView" data-creation="+ Įdėti skelbimą" data-id="header_line_b" data-name="Ideti skelbima mygtukas" data-pos="1" href="https://www.alio.lt/pasirinkite_kategorija.html?id=1373">+ Įdėti skelbimą</a>
</div>
<div class="clr"></div>
<input name="top_search" type="hidden" value="1"/>
</div></div></div></div></div></body>

In [32]:
soup.title.parent.name

'head'

In [35]:
print(soup.p)

None

In [37]:
# soup.p['class'] imeta klaida, nes soup.p yra None, ir None negali
# būti panaudotas su ["class"]

In [38]:
soup.a

<a href="https://www.alio.lt/" id="logo_mob_placement_b" title="Nemokami skelbimai">
<img alt="Alio.lt nemokami skelbimai" height="45" src="https://g4.acdn.lt/img/svg/logo.svg" width="125"/>
</a>

In [47]:
soup.find("a")

<a href="https://www.alio.lt/" id="logo_mob_placement_b" title="Nemokami skelbimai">
<img alt="Alio.lt nemokami skelbimai" height="45" src="https://g4.acdn.lt/img/svg/logo.svg" width="125"/>
</a>

In [43]:
soup.find(id="logo_n_placement")

<a href="https://www.alio.lt/" id="logo_n_placement" title="Nemokami skelbimai">
<img alt="Alio.lt nemokami skelbimai" height="69" src="https://g4.acdn.lt/img/svg/logo.svg" width="203"/>
</a>

In [51]:
# page = soup.find_all("div", {"class":"paging_b"}) # šitą, naudočiau, jei kada norėčiau visus pasiūlymus

In [ ]:
# for i in range(1,50):
# 	c = requests.get(burl+str(i))
# 	d = c.content
# 	soup = BeautifulSoup(d, "html.parser")

In [66]:
a = soup.find_all("div", {"class":"price"}) # Kaina
a
# b = soup.find_all("div", {"class":"description"}) # Kamb.skaičius, Plotis ir Meai
# l = soup.find_all("a", {"class":"vertiselink cursor-pointer"}) #Url link'as

# for kaina in a:
#     K.append(int(kaina.find("span", {"class":"main_price"}).text.replace(" ", "").replace("€","")))
kainos = [int(kaina.find("span", {"class":"main_price"}).text.replace(" ", "").replace("€","")) for kaina in a]
print(kainos)

[<div class="price">
 <span class="main_price ">25 500 €</span> <span class="sub_price ">(981  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">135 000 €</span> <span class="sub_price ">(1 570  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">48 000 €</span> <span class="sub_price ">(873  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">59 000 €</span> <span class="sub_price ">(1 255  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">53 000 €</span> <span class="sub_price ">(964  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">44 500 €</span> <span class="sub_price ">(1 214  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">73 900 €</span> <span class="sub_price ">(1 760  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">109 000 €</span> <span class="sub_price ">(1 434  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">19 900 €</span> <span class="sub_price ">(1 092  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">47 187 €</span> <span class="sub_price ">(1 482  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">63 000 €</span> <span class="sub_price ">(1 260  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">17 000 €</span> <span class="sub_price ">(540  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">64 500 €</span> <span class="sub_price ">(1 433  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">95 000 €</span> <span class="sub_price ">(2 160  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">84 000 €</span> <span class="sub_price ">(1 217  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">5 000 €</span> <span class="sub_price ">(263  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">57 000 €</span> <span class="sub_price ">(731  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">137 583 €</span> <span class="sub_price ">(2 089  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">55 000 €</span> <span class="sub_price ">(1 100  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">73 000 €</span> <span class="sub_price ">(937  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">7 500 €</span> <span class="sub_price ">(149  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">63 000 €</span> <span class="sub_price ">(1 154  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">37 000 €</span> <span class="sub_price ">(860  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">109 900 €</span> <span class="sub_price ">(1 014  €/m²)</span>
 <div class="clr"></div>
 </div>, <div class="price">
 <span class="main_price ">21 500 €</span> <span class="sub_price ">(505  €/m²)</span>
 <div class="clr"></div>
 </div>]

In [127]:
datos = soup.find_all("time")
sk = list()
print(datos[:5])
for i in datos[:5]:
    dasd = i.text.split()
    print(dasd)
    for s in dasd:
        if s.isdigit():
            sk.append(int(s))

[<time class="uptodate" datetime="">prieš 2 d.</time>, <time class="uptodate" datetime="">prieš 2 val.</time>, <time class="uptodate" datetime="">prieš 1 val.</time>, <time class="uptodate" datetime="">prieš 14 d.</time>, <time class="uptodate" datetime="">prieš 11 d.</time>]
['prieš', '2', 'd.']
['prieš', '2', 'val.']
['prieš', '1', 'val.']
['prieš', '14', 'd.']
['prieš', '11', 'd.']

In [128]:
sk

[2, 2, 1, 14, 11]

In [ ]:
# 	for op in b:
# 		if len(op.text.split("|")) == 3:
# 			ab = op.text.split("|")
# 			ab.insert(2, None)
# 			L.append(ab)
# 		elif len(op.text.split("|")) == 4:
# 			L.append(op.text.split("|"))
# 		else:
# 			pass

# 	for h1 in l:
# 		if h1["href"] not in L1:
# 			L1.append(h1['href'])
	
# 	for p,n,q in zip(K,L,L1):
# 	    dic = {}
# 	    dic["Kaina"] = p
# 	    #print(dic["Kaina"])
# 	    dic["Metai"] = n[2]
# 	    #print(dic["Metai"])
# 	    dic["Plotas"] = n[0]
# 	    #print(dic["Plotas"])
# 	    dic["Skaičius"] = n[1]
# 	    #print(dic["Skaičius"])
# 	    dic["Url"] = q
# 	    KU.append(dic)

# df = pd.DataFrame(KU)

# pd.set_option('display.max_colwidth', -1)
# print(df)
# print("Pigiausias variantas "+str(df['Kaina'].min())+" "+str(list(df.loc[df['Kaina'].idxmin()])[-1]))
# print("Brangusias variantas "+str(df["Kaina"].max())+" "+str(list(df.loc[df['Kaina'].idxmax()])[-1]))

## SQL (import sqlite3)
https://stackabuse.com/a-sqlite-tutorial-with-python/

## Klasės (Class)?